<VirtualHost *:80>
	ServerName hello.localhost
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/vhosts/hello/public
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
<Directory "/var/www/vhosts/hello/public/">
AllowOverride All
</Directory>
