<VirtualHost *:80>
	ServerName testhost.localhost
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/vhosts/testhost/public
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
<Directory "/var/www/vhosts/testhost/public/">
AllowOverride All
</Directory>
