<VirtualHost *:80>
	ServerName {{ vhost }}.localhost
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/vhosts/{{ vhost }}
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
<Directory "/var/www/vhosts/{{ vhost }}/">
AllowOverride All
</Directory>
